# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignorar archivos de compilación de Android
android/app/.cxx/
android/app/build/
android/app/intermediates/
android/app/.gradle/
android/app/.idea/

# Ignorar archivos generados por Gradle
*.gradle
.gradle/
local.properties

# Ignorar archivos de depuración y compilación
additional_project_files.txt
android_gradle_build.json
android_gradle_build_mini.json
build.ninja

# Ignorar archivos de configuración de Xcode
ios/Runner.xcodeproj/
ios/Runner.xcworkspace/
ios/Pods/
ios/.swiftpm/
ios/.generated/

# Ignorar archivos de Flutter
.packages
build/

# Archivos generados por build_runner
*.g.dart
*.freezed.dart
# Keystore y credenciales de firma
android/keystores/
android/key.properties
*.jks
*.keystore
